In [5]:
import random
from datetime import datetime
import numpy as np

#year = random.randint(1950, 2000)
#month = random.randint(1, 12)
year = 2017
month = 12

# Generate 300 random timestamps and users
n_events = 300

events=[]
for i in range(n_events): 
    day = random.randint(1, 28)
    # add a few null values
    #if i & 3 == 2 :
    #    user = np.nan
    #else:
    user = int(random.randint(1,10))
    timestamp = datetime(year, month, day).timestamp()
    events.append([timestamp,user])

    

#>>> from datetime import datetime
#>>> datetime.fromtimestamp(1172969203.1)
#datetime.datetime(2007, 3, 4, 0, 46, 43, 100000)

In [6]:
import numpy as np
import pandas as pd
# numpy array to df

events = np.array(events)
columns = ['timestamp','user']
df = pd.DataFrame(events,columns=columns)
df.head(10)

      timestamp  user
0  1.513066e+09   6.0
1  1.513930e+09   2.0
2  1.513152e+09   NaN
3  1.513152e+09   1.0
4  1.512720e+09   8.0
5  1.512720e+09  10.0
6  1.513238e+09   NaN
7  1.513325e+09   4.0
8  1.512979e+09   6.0
9  1.512893e+09   6.0

In [7]:
df.to_csv('random_timestamps.csv')